.trashcan{
    position: fixed;
    margin-top: -200px;
}

.biodegrade{
    position: fixed;
    float: left;
    width: 200px;
    height: 300px;
    margin: 15px;
    padding: 10px;
    margin-top: 150px;
    margin-left: 100px;
   
}

    
.recycl{
    position: fixed;
    float: left;
    width: 200px;
    height: 300px;
    margin: 15px;
    padding: 10px;
    margin-top: 150px;
    margin-left: 300px;
    
}



.residual{
    position: fixed;
    float: left;
    width: 200px;
    height: 300px;
    margin: 15px;
    padding: 10px;
    margin-top: 150px;
    margin-left: 500px;
    
}



.trash1{
    position: fixed;
    width: 100px;
    height: 100px;
    
    margin-left: 750px;
    margin-top: 120px;
    
}

.trash2{
    position: fixed;
    width: 100px;
    height: 100px;
    
    margin-left: 950px;
    margin-top: 120px;
    
}

.trash3{
    position: fixed;
    width: 100px;
    height: 100px;
    
    margin-left: 1150px;
    margin-top: 120px;
    
}

.trash4{
    position: fixed;
    width: 100px;
    height: 100px;
    
    margin-left: 750px;
    margin-top: 250px;
    
}

.trash5{
    position: fixed;
    width: 100px;
    height: 100px;
    
    margin-left: 950px;
    margin-top: 250px;
    
}

.trash6{
    position: fixed;
    width: 100px;
    height: 100px;
    
    margin-left: 1150px;
    margin-top: 250px;
    
}

.trash7{
    position: fixed;
    width: 100px;
    height: 100px;
    
    margin-left: 750px;
    margin-top: 380px;
    
}

.trash8{
    position: fixed;
    width: 100px;
    height: 100px;
    
    margin-left: 950px;
    margin-top: 380px;
    
}

.trash9{
    position: fixed;
    width: 100px;
    height: 100px;
    
    margin-left: 1150px;
    margin-top: 380px;
    
}

.trash10{
    position: fixed;
    width: 100px;
    height: 100px;
    
    margin-left: 950px;
    margin-top: 510px;
    
}



.place{
    position: fixed;
    width: 300px;
    margin-top: 380px;
    margin-left: 900px;
    border-bottom: 3px solid black;
}

#origplace{
    position: fixed;
    border-bottom: 6px solid green;
}

#mainimg{
    height: 100px;
    width: 100px;
    margin-top: 250px;
    margin-left: 1000px;
}

#btn{
    position: fixed;
    margin-top: 300px;
    margin-left: -200px;
}

#displayscore{
    float: left;
    margin-top: -35px;
    margin-left: 50px;
}

